body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	font-family: 'Roboto Mono', monospace;
}

input,
select {
	font-family: 'Roboto Mono', monospace;
}

select {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 1px solid #000000;
	font-size: 1em;
	background-color: #ffffff;
	color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23000'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 0.5em center;
	padding: 0.3em 2em 0.3em 0.7em;
}

button {
	background-color: transparent;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 0;
	padding: 0.5em 1em;
	font-size: 1em;
	font-family: 'Roboto Mono', monospace;
}

button:disabled {
	background-color: transparent;
	color: gray;
	border-color: gray;
}

button:disabled:hover {
	background-color: transparent;
	color: gray;
}

@media (hover: hover) {
	button:hover {
		background-color: black;
		color: white;
	}
}

div.multiselect {
	border-radius: 0;
	border: 1px solid #000000;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}

div.multiselect > ul.selected > li {
	background: transparent;
	border: 1px solid #000000;
	border-radius: 0;
	padding: 0.25em;
}

div.multiselect > ul.selected > li > button {
	flex-basis: auto;
	aspect-ratio: 1;
	align-items: center;
	padding: 0.1em;
}

div.multiselect > ul.options {
	border-radius: 0;
	border: 1px solid #000000;
}

div.multiselect > ul.options > li {
	border-radius: 0;
	border-bottom: 1px solid #000000;
}

div.multiselect > ul.options > li.active {
	background: black;
	color: white;
}
